body {
    background-color: black;
    color: white;
    font-family: 'Jersey 10', sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("/static/img/galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    color: white;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.root {
    padding: 5px;
    display: flex;
}
#content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.root .links {
    margin-top: 23px;
    display: flex;
    margin: auto;
    width: 450px;
    font-size: 25px;
}
.root .links * {
    margin-right: 5px;
    margin-left: 5px;
}
.center {
    margin: auto;
}
.logo {
    display: flex;
    font-size: 30px;
    text-align: center;
}
.logo * {
    margin: 5px;
}
.logo p {
    margin-top: 15px;
}
a.button {
    text-decoration: none;
    color: white;
}
#links {
    padding: 20px;
    background-color: rgba(0, 0, 185, 0.768);
    color: white;
    width: 100%;
    height: 300px;
    z-index: 999; 
}
#links a {
    color: orange;
    text-decoration: none;
    padding: 0.5px;
    margin: 20px;
    border-bottom: 1px solid gray;
}
.imagesct {
    position: relative;
    background-image: repeating-linear-gradient(
        to top,
        transparent,
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0.95),
        rgba(0, 0, 0, 0.95),
        transparent,
        transparent
    );
    padding: 5px;
    height: 900px;
}
.imagesct img {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    padding: 1.5%;
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}
.imagesct .text {
    text-align: center;
}
.imagesct .i1 {
    top:200px;
}
.imagesct .i2 {
    top: 150px;
    left: 33vw;
}
.imagesct .i3 {
    top: 200px;
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
    left: 66vw;
}
.imagesct img:hover {
    transition: all 1s ease-in-out;
    filter: brightness(150%);
}
.contentext {
  background-color: rgb(32, 32, 32);
  border: 6px double rgb(64, 64, 64); 
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 55vw;
}
.phone.clear {
    display: none;
}
@media (max-width: 480px) {
    .logo p {
        display: none;
    }
    .i1, .i2, .i3 {
        margin-top: 100px !important;
    } 
}
.button.blueclass {
    background-color: blue;
    padding: 10px;
    font-size: 30px;
    animation: ociler-tam-cl 3s infinite;
}
@keyframes ociler-tam-cl {
    0% {
        background-color: blue;
        padding: 10px;
    }
    50% {
        background-color: rgb(52, 52, 255);
        padding: 15px;
    }
    100% {
        background-color: blue;
        padding: 10px;
    }
}
.linksd {
    padding: 5px;
    text-align: center;
}
.linksd * {
    padding: 5px;
}