body {
    background-color: black;
    color: white;
    font-family: 'Jersey 10', sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("/static/img/galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
    color: white;
    font-size: 130%;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
.root {
    padding: 5px;
    display: flex;
}
#content {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.root .links {
    margin-top: 23px;
    display: flex;
    margin: auto;
    width: 450px;
    font-size: 25px;
}
.root .links * {
    margin-right: 5px;
    margin-left: 5px;
}
.center {
    margin: auto;
}
.logo {
    display: flex;
    font-size: 30px;
    text-align: center;
}
.logo * {
    margin: 5px;
}
.logo p {
    margin-top: 15px;
}
a.button {
    text-decoration: none;
    color: white;
}
#links {
    padding: 20px;
    background-color: rgba(0, 0, 97, 0.997);
    color: white;
    width: 90%;
    height: 300px;
    margin: auto;
    z-index: 999; 
    border-radius: 5px;
}
#links a {
    color: rgb(0, 225, 255);
    text-decoration: none;
    padding: 0.3px;
    margin: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}
#links .line.h {
    height: 1px;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(201, 201, 201, 0.633);
}
.imagesct {
    position: relative;
    background-image: repeating-linear-gradient(
        to top,
        transparent,
        rgba(0, 0, 0, 0.975),
        rgba(0, 0, 0, 0.975),
        rgba(0, 0, 0, 0.975),
        rgba(0, 0, 0, 0.975),
        transparent,
        transparent
    );
    padding: 5px;
    width: 100vw;
    height: 1850px;
}
.imagesct img {
    position: absolute;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    padding: 1.5%;
    top: 100px;
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
}
.imagesct .text {
    text-align: center;
}
.imagesct .i1 {
    top: 400px;
}
.imagesct .i2 {
    top: 350px;
    left: 33vw;
}
.imagesct .i3 {
    top: 400px;
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
    left: 66vw;
}
.imagest img:hover {
    transition: all 1s ease-in-out;
    filter: brightness(150%);
}
.contentext {
  background-color: rgb(32, 32, 32);
  border: 6px double rgb(64, 64, 64); 
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 55vw;
}
.phone.clear {
    display: none;
}
@media (max-width: 480px) {
    .logo p {
        display: none;
    }
    .i1, .i2, .i3 {
        margin-top: 100px !important;
    } 
}
.button.blueclass {
    background-color: blue;
    padding: 10px;
    font-size: 30px;
    animation: ociler-tam-cl 3s infinite;
}
@keyframes ociler-tam-cl {
    0% {
        background-color: blue;
        padding: 10px;
    }
    50% {
        background-color: rgb(52, 52, 255);
        padding: 15px;
    }
    100% {
        background-color: blue;
        padding: 10px;
    }
}
.linksd {
    padding: 5px;
    text-align: center;
}
.linksd * {
    padding: 5px;
}
#sectext {
    display: flex;
    position: relative;
    justify-self: center;
}
.textst {
    background-color: rgb(22, 22, 22);
    width: fit-content;
    padding: 10px;
    justify-self: center;
    border-radius: 5px;
    margin: 10px;
}
.textst.img img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
.flex {display: flex;}
.flex * { margin: 2px; align-self: center; }
#sectext {
    display: block;
}
#sectext * { justify-self: center; }
.voice { height: 200px; width: 500px; }
.sbt {
    position: relative;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-items: left;
    border-radius: 15px;
}
.sbt .text {
    position: absolute;
    z-index: 35;
    justify-self: left !important;
    padding: 15px;
    padding-bottom: 25px;
    width: 100px;
    top: -20px;
    background-image: linear-gradient(to bottom, black 20%, transparent);
    width: 100%;
    color: white;
}
.sbt .text * { justify-self: left !important; margin-bottom: -10px; padding-top: 15px;}
.sbt img {
    position: absolute;
    top: 0;
    border-radius: 15px;
    left: 0;
    width: 100%;
    height: 100%;
}
.dsc { width: 400px; height: 400px; }
.gia { width: 500px; height: 200px;}
.empire-space {
    margin-bottom: 750px;
}